@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div>你的IP--@ViewData["Remote-IP"]</div>
    <div>公司的IP--@ViewData["Company-IP"]</div>
</div>
